<div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p><b>leave us a message:</b></p>
         <div class="c2">
            By email at info@bookworm.com.<br/>
            Or at the following address:<br/>
            Vidyanidhi,Andheri(w),<br/>
            Mumbai.pincode-234567.<br/>
          </div>
        </div>
    <div class="row">
      <div class="column">
        <img src="assets/Images/contactus.jpg" style="width:100%">
       
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
  